{% extends 'base-back.html.twig' %}
{% block user %}
    {{ app.user.username }}
{% endblock %}
{% block content %}

    <style>
        #calendrier{
            width: 80%;
            margin: auto;
        }
    </style>

    <div id="calendrier">
    </div>
    


<script>
    
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'dayGridMonth',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
            events:  {{data|raw}},
            editable: true,
            eventResizableFromStart: true

             })     
             calendar.on('eventChange', (e) => {
                 let url = `/api/${e.event._def.publicId}/edit`
                 let donnees = {
                     "id": e.event._def.publicId,
                     "title": e.event._def.title,
                     "description": e.event._def.extendedProps.description,
                     "start": e.event._instance.range.start,
                     "end": e.event._instance.range.end
                    }
                    
                    
            
            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            console.log({donnees});
            xhr.send(JSON.stringify(donnees))
            
        })
        calendar.render()
    }
</script>

{% endblock %}