{% extends 'calendar.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier{
            width: 80%;
            margin: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="calendrier">
    </div>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'dayGridMonth',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
            events: [
    {
      start: '2022-01-04T10:00:00',
      end: '2022-04-04T16:00:00',
      display: 'background'
    }
  ]        
        })
     
   
        calendar.render()
    }
</script>

{% endblock %}
