{% extends 'base-back.html.twig' %}
{% block user %}
    {{ app.user.username }}
{% endblock %}

{% block content %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="row" style="width: 100%;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
<h1>Ajouter Réservation</h1>
{{ form_start(form) }}
 {{ form_widget(form) }}
 
{{ form_end(form) }}
</div>
</div> <!-- end col -->
</div>
</div>
{% endblock %}