{% extends 'base-front.html.twig' %}
{% block content %}
{% form_theme f 'bootstrap_4_layout.html.twig' %}

<section class=innerpage_all_wrap >
    <div class=container>
        <div class=row>
 <ul class="gallery
<div class="row" style="width: 100%;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
<h1>Je Modifie</h1>
{{ form_start(f) }}
 {{ form_widget(f) }}
{{ form_end(f) }}
</div>
</div>
</div> <!-- end col -->
</ul>
</div>
</div>

                


</section>
<script type=text/javascript>
    $(function () {
        $('#da_gallery .gallery-list ').hoverdir();
    });
</script>

{% endblock %}
