{% extends 'base-back.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
<h1>Modifier reservation</h1>

{{form(f)}}
</div>
</div> <!-- end col -->
</div>
</div>
{% endblock %}