<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tableau des Evenements</title>
</head>
<body >
<h1 style="text-align: center; color: red">Volcano Football Services</h1>
<h2 style="text-align: center">Tableau des Evenements</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th >Nom</th>
        <th >Stade</th>
        <th >Date</th>
    </tr>
    </thead>
    <tbody>
    {% for e in evenements %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nom }}</td>
            <td>{{ e.stade.nom }}</td>
            <td>{{ e.date|date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>
