 
{% extends 'base-front.html.twig' %}
{% block content %}
{% form_theme form1 'bootstrap_4_layout.html.twig' %}

<section class=innerpage_all_wrap >
    <div class=container>
        <div class=row>
                <ul class="gallery
<div class="row" style="width: 100%;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <span class=image_g style=background:url(front-office/images/gallery/masonry/cercle.PNG)></span>
<h1>Je Reserve</h1>
{{ form_start(form1) }}
 {{ form_widget(form1) }}
 
<button>Ajouter</button>
{{ form_end(form1) }}
</div>
</div> <!-- end col -->
</div>
</div>
</ul>
                
</div>
</div>
</section>


{% endblock %}
