 
{% extends 'base-front.html.twig' %}
{% block activeHebergements %}
    class=active
{% endblock %}

{% block content %}
{% form_theme form1 'bootstrap_4_layout.html.twig' %}

<section class=playerDetails02>
    <div class=container>
        <div class=row>
 <ul class="gallery
<div class="row" style="width: 100%;">
    <div class="col-12">
        <div class="card">
            <div class="headline01 clearfix">
<h1 >Je Reserve</h1>
 <div class="headline01 largepoint"> {{ form_start(form1) }}
 {{ form_widget(form1) }}
{{ form_end(form1) }}
</div>

</div>
</div>
</div> <!-- end col -->
</div>
</ul>
</div>
</div>

                


</section>
<script type=text/javascript>
    $(function () {
        $('#da_gallery .gallery-list ').hoverdir();
    });
</script>

{% endblock %}
