{% extends 'base-back.html.twig' %}
{% block content %}
    {% form_theme f 'bootstrap_4_layout.html.twig' %}
    <div class="row" , style="width: 100%;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(f) }}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(f.Nom) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(f.Nom) }}
                        </div>
                    </div>
                    {{ form_end(f) }}
                </div>
            </div> <!-- end col -->
        </div>
    </div>
{% endblock %}